<h1>Log In Below:</h1>

<form method="POST" action="/login">

<p><label for "email">Email: </label><input type="text" id="email" name="email"></p>

<p><label for "password">Password: </label><input type="text" id="password" name="password"></p>

<button type="submit" class="cool-button" style="background-color:#69BBC9">Login</button>

</form>