<h1>Sign Up Below:</h1>

<form method="POST" action="/signup">
  
  <p><label for="name">Name: </label><input type="text" name="name" id="name"></p>
  <p><label for="email">Email: </label><input type="text" name="email" id="email"></p>
  <p><label for="password">Password: </label><input type="password" name="password" id="password"></p>
  
  <button type="submit" class="cool-button" style="background-color:#69BBC9">Sign Up</button>
  
  
  
</form>
