<header class="break">
  <h1>All House Plants!</h1>
</header>

  <% @items.each do |item| %>
    <h2><%= item.category.name == "small" %> </h2>
    <p><%= item.name %> - $<%= item.price%></p>
  <% end %>