
<div class="container">
  <header class="break">
  <h1>Tandi's Plant Shop</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
  

    <div class="content">
      
      <p><h3>Please login or signup</h3></p>
      <br>
      <a href="/users/login">Login</a>
      <a href="/users/signup">Sign Up</a>
    </div>

    

  </div>
</div>

    

