<div class="container">
  <header class="break">
  <h1>House Plant Shop</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
  

    
      <br>
      <% if !logged_in? %>
      <h3>Please login or signup</h3>
      <a href="/items" class="button4" style="background-color:#69BBC9">View Plant Selection</a>
      <br>
      <a href="/login" class="button4" style="background-color:#69BBC9">Login</a>
      <a href="/signup" class="button4" style="background-color:#69BBC9">Sign Up</a>
      <% else %>
      <a href="/orders/new" class="button4" style="background-color:#69BBC9">Create an Order</a>
      <a href="/orders" class="button4" style="background-color:#69BBC9">My Orders</a>
      <% end %>
      

    

  </div>
</div>


    

